<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <nav class="bg-gray-800 text-white h-16 flex justify-center items-center px-6">
            <div class="flex items-center space-x-6">
                <a href="/" class="text-xl font-bold">Book Store</a>
                <ul class="hidden md:flex space-x-4">
                    <li><a href="/" class="hover:text-gray-300">Home</a></li>
                    <li><a href="/available-books" class="hover:text-gray-300">Available Books</a></li>
                    <li><a href="/my-books" class="hover:text-gray-300">My Books</a></li>
                </ul>
            </div>
    
            <div class="ml-auto">
                <a href="/register-book" 
                   class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded">
                    New Book Register
                </a>
            </div>
        </nav>

        <div class="container mx-auto mt-10">
            <!-- Heading -->
            <h2 class="text-2xl font-bold text-center mb-6">Book List</h2>
            
            <!-- Table -->
            <div class="overflow-x-auto  sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 border-collapse">
                    <!-- Table Head -->
                    <thead class="bg-gray-200 text-gray-700 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3 border border-gray-300">Id</th>
                            <th scope="col" class="px-6 py-3 border border-gray-300">Name</th>
                            <th scope="col" class="px-6 py-3 border border-gray-300">Author</th>
                            <th scope="col" class="px-6 py-3 border border-gray-300">Price</th>
                            <th scope="col" class="px-6 py-3 border border-gray-300">Action</th>
                        </tr>
                    </thead>
                    <!-- Table Body -->
                    <tbody>
                        <tr th:each="b : ${list}" class="bg-white hover:bg-gray-50">
                            <td class="px-6 py-4 border border-gray-300" th:text="${b.id}"></td>
                            <td class="px-6 py-4 border border-gray-300" th:text="${b.name}"></td>
                            <td class="px-6 py-4 border border-gray-300" th:text="${b.author}"></td>
                            <td class="px-6 py-4 border border-gray-300" th:text="${b.price}"></td>
                            <td><a class="btn btn-secondary btn-sm">Add to my book</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</body>
</html>
